*{
    box-sizing: border-box
   }
   
   body {
     font-family: 'Dancing Script', cursive;
    color: rgb(234,149,49); 
    background-image: url(https://s3.img-b.com/image/private/t_base,c_pad,f_auto,dpr_2,w_480,h_480/product/shaw/shaw-cs37p-00100-9459802.jpg);
   }
   .mySlides {
   display: none;
   }
   
   .slidesImages {
   vertical-align: middle;
   width: 960px;
   height: 450px;
   }
   
   /* Slideshow container */
   .slideshow-container {
     max-width: 100%;
     position: relative;
     margin: auto;
   }
   
   /* Next & previous buttons */
   .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
   }
   
   /* Position the "next button" to the right */
   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
   }
   
   /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
   }
   
   /* Caption text */
   .text {
     color: white;
     font-size: 15px;
     padding: 8px 12px;
     position: absolute;
     bottom: 8px;
     width: 100%;
     text-align: center;
     margin-bottom: 30px;
     font-size: 40px;
     background-image: linear-gradient(to right, orange,rgb(234,149,49));
     opacity: .8;
   
     
   }
   #text3{
     font-size: 30px;
   }
   
   /* Number text (1/3 etc) */
   .numbertext {
     color: #f2f2f2;
     font-size: 12px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
   }
   
   /* The dots/bullets/indicators */
   .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
   }
   
   .active, .dot:hover {
     background-color: #717171;
   }
   
   /* Fading animation */
   .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
   }

   @keyframes fade {
     from {opacity: .8} 
     to {opacity: 1}
   }
   
   /* On smaller screens, decrease text size */
   @media only screen and (max-width: 300px) {
     .prev, .next,.text {font-size: 11px}
   }
   
   #title{
       padding: 50px;
       text-align: center;
       font-size: 80px ;
       
   }
   .row{
       display: block;
   }
   /* Create two equal columns that floats next to each other */
   .column {
       float: left;
       width: 30%;
       padding: 10px;
       height: 300px; 
       margin-left: 13%;
       margin-top: 50px;
       background-image:url(../img/wood.jpg);
       font-size: xxx-large;
       text-align: center;
       border-top-right-radius: 20px;
       border-bottom-left-radius: 20px;
   }
   .column:hover{
     width: 30%;
     height: 300px;
     background-color: white;
     background-image: url(../img/Screenshot_1.png);
     background-position:center;
     background-repeat: no-repeat;
     font-size: xxx-large;
   
   }
   .column:hover h1{
     margin-top: 220px;
     }
   .column h1{
   margin-top: 120px;
   }
   
   /* Clear floats after the columns */
   .row:after {
       content: "";
       display: table;
       clear: both;
   } 
   
   .containerTab{
       padding: 20px;
       color: white;
       height: auto;
       width: 95%;
       margin-left: 2.5%;
       margin-top: 10px;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size:x-large ;
       line-height: 1.9;
       border-top-right-radius: 30px;
       border-bottom-left-radius: 30px;
       border: 2px solid rgb(234,149,49);
       
   }
   .goToRegister{
     padding: 8px;
     font-family: 'Dancing Script', cursive;
     background-color: rgb(234,149,49);
     color: white;
     font-size: xx-large;
     border-radius: 8px ;
     float: right;
   }
   .goToRegister:hover{
     background-color: antiquewhite;
     color: rgb(234,149,49);
   }
   /* Closable button inside the container tab */
   .closebottun{
       float: right;
       color: white;
       font-size: 35px;
       cursor: pointer;
   }
  footer{
    margin-top: 200px
  }