*{ 
 box-sizing: border-box;
 
}
body{
    background-image: url(https://s3.img-b.com/image/private/t_base,c_pad,f_auto,dpr_2,w_480,h_480/product/shaw/shaw-cs37p-00100-9459802.jpg);
}
.logo{
      width: 400px;
}
header{
      text-align: center;
      background-color: white;
      margin-bottom: 3px;
  }
  .header1{
      text-align: center;
      padding-top: 3px;
      border:2px solid;
      background-color:white;
      border-top-color:rgba(237,151,40,255);
      border-bottom-color:rgba(237,151,40,255) ;
      border-left-color: white;
      border-right-color: white;
      width: 100%;
      height: 50px;
      position: sticky;
      top: 0;
  }
  
nav ul li{
    display:inline-block;
    border-right:1.5px solid ;
    color:rgb(234,149,49);
    padding: 0px 70px ;
    font-weight: bold;
    line-height: 40px;
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
}
nav ul li:hover{
    opacity: .5;
    color: black;
}

li a{
    color: black;
    text-decoration: none;
}

.footer-content{
    width: 100%;
    background-color:white;
    padding: 20px;
    text-align: center;
    border-top: 2px solid;
    border-top-color: rgba(237,151,40,255);
    padding-bottom: 0px;

}

.footer-content h3{
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    line-height:50px;
    color:rgb(234,149,49);
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color:rgb(234,149,49);
    font-weight: bolder;
}
.fa{
    width: 65px;
    height: 65px;
    margin: 5px;
    padding: 5px;
}

.footer-bottom{
    background:white;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color:rgb(234,149,49);
}
footer{
    margin-top: 180px;
    clear: both;
}
footer a {
    text-decoration: none;
    color: rgb(234,149,49);
}
#chart{
    width: 800px;
    height: 500px;
    margin-top: 60px;
    margin-left: 20%;
    border-bottom: 1.5px solid rgb(234,149,49);
    margin-bottom: 40px ;
}
#informationForm{
    display: inline-block;
    font-family: 'Barlow', sans-serif; 
    font-size: x-large;
    margin-left: 34%;
    margin-bottom: 40px ;
    border-bottom: 1.5px solid rgb(234,149,49);
    padding-bottom: 45px;
}
.input{
    padding: 10px;
    width: 400px;
    margin: 30px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border: 1.9px solid rgb(234,149,49);
    background-color: antiquewhite;
}

#input{
    font-size: large;
    font-family: 'Barlow', sans-serif;
    background-color: rgb(234,149,49);
    color: white;
    width: 150px;
    margin-left: 150px;
}

#legend{
    margin-top: 40px;
    margin-left: 40px;
    color: rgb(234,149,49);
    
}